  <h1 id="title">Welcome to Practice RoomMate!</h1>
  <div id="roomSelect" class="col-sm-5">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title">Current Rooms</h3>
      </div>
      <div class="panel-body" style="text-align:center;">
        <span *ngFor="let room of rooms"
          [class.selected]="room === getSelectedRoom()"
          (click)="onSelect(room);">
          <button type="button" class="btn btn-lg btn-default" *ngIf="room !== getSelectedRoom()">
            <img src="../img/music-note-5.png">
            <br>
            {{ room.roomName }}
            <br>
            <h3 class="occupied" *ngIf="room.occupied">Occupied</h3>
            <h3 class="vacant" *ngIf="!room.occupied">Vacant</h3>
          </button>

          <button type="button" class="btn btn-lg btn-warning" *ngIf="room === getSelectedRoom()">
            <img src="../img/music-note-5.png">
            <br>
            {{ room.roomName }}
            <br>
            <h3 class="occupied" *ngIf="room.occupied">Occupied</h3>
            <h3 class="vacant" *ngIf="!room.occupied">Vacant</h3>
          </button>
        </span>
      </div>
    </div>
  </div>
